<h1>{{title}}</h1>

<form method="POST" action="/new">
    <label for="author">Author:</label><br>
    <input type="text" name="author">

    <br><br>

    <label for="message">Message:</label><br>
    <input type="text" name="message">

    <br><br>

    <input type="submit" value="Post message">
</form>